<!doctype html>
<html lang="en" itemscope itemtype="https://schema.org/FAQPage">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="front/dist/css/main.css">

    <title>FAQ test | Andrew Shitov</title>
</head>
<body>

<header class="main-header">
    <div class="wrapper">
        <button class="btn menu-btn">
            &#9776;
        </button>
    </div>
</header>

<main class="page-faq" id="app">
    <div class="page-header">
        <div class="wrapper">
            <h1>
                {{ message }}
            </h1>
        </div>
    </div>

    <div class="wrapper">
        <div class="page-faq__content">

            <ul class="tabs-btn-list">
                <li v-for="(tab, tabName) in tabs" :key="tabName">
                    <button class="tab btn is-active" @click="setTabActive(tabName)"
                            :class="{'active': tabName === activeTab}">
                        {{ tabName }}
                    </button>
                </li>
            </ul>

            <div
                    v-for="(tabContent, t) in tabs"
                    :key="'content'+t"
                    v-if="t === activeTab"
                    class="tabs-content"
            >

                <div v-for="(item, index) in tabContent.items" class="content tabs-content__item"
                     id="tabs-content-item">

                    <h2 class="tabs-content__question">
                        {{item.title}}
                    </h2>
                    <div class="tabs-content__answer">
                        {{item.body}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="front/dist/bundle.js"></script>

</body>
</html>