.page-faq {

  .page-header {
    margin-bottom: 60px;
  }

  h1 {
    text-align: center;
    padding: 0 40px;
    margin: 0;
  }

  &__content {
    display: flex;
    padding-bottom: 30px;

    @include tablet {
      flex-direction: column;
    }

    h2 {
      font-size: 1rem;
    }
  }

  // tabs

  .tabs-content {
    flex: 0 0 70%;
  }

  .tabs-btn-list {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0;
    margin: 0 100px 0 0;

    @include tablet {
      flex-direction: row;
      flex-shrink: 0;
      overflow-x: auto;
      padding: 10px 20px;
      margin: 0 -20px 50px;
    }

    @include phone {
      margin-bottom: 30px;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 25px;

        @include tablet {
          flex-shrink: 0;
          margin: 0 25px 0 0;
        }

        @include tablet {
          margin-right: 10px;
        }
      }
    }

    button {
      font-size: 1.1rem;
      font-weight: bold;

      @include tablet {
        padding: 5px 14px;
        border-radius: 100px;
        transition: color 0.4s, box-shadow 0.4s;
      }

      &.is-active {
        color: $coral;

        @include tablet {
          box-shadow: 0 0 10px 1px #02040417;
        }
      }
    }
  }

  .tabs-content {
    &__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &__question {
      margin-bottom: 10px;
    }
  }

}