* {
  box-sizing: border-box;
}

html {
  font-family: $base-ff;
  font-size: $base-fs;
  line-height: $base-lh;
  font-weight: $base-fw;
  color: $black;
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  @include phone {
    font-size: 14px;
  }
}

body {
  margin: 0;
}

main {
  -webkit-overflow-scrolling: touch;
}

ul[class] {
  list-style: none;
  li {
    list-style: none;
  }
}

p {
  margin: 10px 0;
  font-family: $base-ff;
}

// container
.wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 0 68px;
  margin: 0 auto;
  z-index: 10;
  position: relative;
  @include tablet {
    width: 100%;
    padding: 0 20px;
  }
}

// grid
.row {
  display: flex;
  flex-wrap: wrap;

  &.v-center {
    align-items: center;
  }
}

// btn
.btn {
  font-family: $base-ff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 35px;

  padding: 0;
  color: $black;
  border: none;
  border-radius: 4px;
  background-color: transparent;

  cursor: pointer;
  transition: color 0.4s;

  &:hover {
    background: transparent;
    color: $coral;
  }

  &:active {
    background: transparent;
  }

  &.menu-btn {
    font-size: 28px;
    padding: 0;
  }

}


