
h1, h2, h3, .h1, .h2, .h3  {
  font-family: $title-ff;
  font-weight: $title-fw;
  line-height: $title-lh;
  margin-top: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
  font-size: 3rem;
  line-height: 100%;
  color: $black;
  @include tablet {
    font-size: 2.2rem;
  }

  @include phone {
    font-size: 2rem;
  }
}

h2, .h2 {
  font-size: 2.143rem;
  @include phone {
    font-size: 34px;
  }
}

h3, .h3 {
  font-size: 1.286rem;
  font-weight: $title-fw;
  line-height: $title-lh;
}


