// fonts
$base-ff: system-ui;
$title-ff: system-ui;

// font size
$base-fs: 18px;
$middle-fs: 1.286rem;

// line height
$base-lh: 1.5;
$title-lh: 1.3;

// font weight
$base-fw: 400;
$title-fw: 700;

// mobile font size
$base-fs-phone:  $base-fs - 1.5;

// media
$sm-phone: 375px;
$phone: 767px;
$tablet: 1200px;

// color
$black: #020404;
$coral: #FB0A69;
$white: #ffffff;

